<html>
  <head>
    <link type="text/css" ref="stylesheets" href="./style.css"></link>
  </head>
  <body>
  <div id="index">{{{markup}}}</div>
  </body>
    <script src="./bundle.js"></script>
</html>
